$breakpoints: (
    medium: $mq-medium,
    large: $mq-large,
    xlarge: $mq-xlarge,
    xxlarge: $mq-xxlarge,
);

.container {
    margin: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@each $key, $val in $breakpoints {
    @media #{$val} {
        .container {
            max-width: map-get($bp, $key);
        }
    }
}
