.home-page {
    background: url('../images/pexels-cátia-matos-1072179.jpg') no-repeat center
        fixed;
    background-size: cover;
    .page-body {
        height: 100vh;
        margin-top: -3rem;
        padding-top: 0;
        align-items: center;
        justify-content: center;
    }

    .say-hi {
        font-size: 2em;
    }

    .get-start {
        flex-basis: auto;
        text-decoration: none;
        border-width: 0.1em;
    }
}
