@import './color.scss';
@import './theme.scss';
@import './layout.scss';
@import './grid.scss';
@import './responsive-desktop.scss';
@import './responsive-mobile.scss';

#app {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
    margin: 0.2em 0;
}

.router-link {
    text-decoration: none;
}
