.notifications {
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    .notify-item {
        border-radius: 0.5em;
        padding: 0.5em;
        margin: 0.5em;
        transition: all 0.25s;
        &.move-in,
        &.move-out {
            transform: translateX(100%);
            opacity: 0;
            height: 0;
            padding: 0;
            margin: 0;
        }
    }
}
