@media #{$mq-medium} {
    .header {
        .menu-icon {
            display: none;
        }
    }
    .sidebar,
    .sidebar:not(.active) {
        opacity: 1;
        max-height: calc(100vh - 70px);
        min-height: 1em;
        flex: 0 0 15rem;
        overflow-y: auto;
    }
}
