.default-theme {
    color: var(--text);
}

a,
button {
    color: inherit;
}

.page-link.active,
.page-link:not(.disabled):hover,
.router-link:hover,
.router-link-active,
.text-primary {
    color: var(--accent);
}

.router-link.disabled,
.page-link.disabled {
    color: var(--badge);
}

.page-link {
    background-color: transparent;
    border: none;
}

.btn-primary {
    color: white;
    background-color: var(--accent);
    border-color: var(--accent);
}

.router-link-active {
    font-weight: bold;
}

.header {
    border-bottom: 0.1em solid var(--accent);
    background-color: white;
    box-shadow: 0 0.2em 0.2em -0.2em var(--text);
    color: var(--accent);
    .name {
        color: var(--accent);
    }
    &.transparent {
        border-bottom-width: 0;
        background-color: transparent;
        padding-left: 1rem;
        box-shadow: none;
        .menu-icon {
            div {
                background-color: white;
            }
        }
        &,
        .name {
            color: white;
        }
    }
}

.menu-icon {
    div {
        background-color: var(--accent);
    }
}

.transparent {
    color: white;
    .btn-primary {
        border-color: white;
        background-color: transparent;
    }
}

.home-page {
    .footer {
        background-color: white;
    }
}

.badge {
    background-color: var(--badge);
}

.notify-item {
    &.warning {
        background-color: var(--warning);
        color: white;
    }
    &.danger {
        color: white;
        background-color: var(--danger);
    }
}
